.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 120px;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 5px;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
.sources.buttons {
    scrollbar-width: thin;
    scrollbar-color: #888888 #716e6e;
    cursor: pointer;
    border-radius: 5px;
}
.sources.buttons::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
}

.sources.buttons::-webkit-scrollbar-track {
    background-color: #6e6c6c;
    border-radius: 5px;
}
.sources.buttons::-webkit-scrollbar-thumb {
    background-color: #30c5ff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    
}
.sources.buttons:hover::-webkit-scrollbar-thumb:hover {
    background-color: #3fcc59;;
}