body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
main {
    flex: 1 1 auto;
}
footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer .copyright {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
footer .copyright a {
    color: #fff;
    transition: color 0.8s;
}
footer .copyright a:hover {
    color: #8f8e8e;
}
footer .copyright:before {
    content: '©';
}
.github {
    width: 35px;
    transition: transform 0.7s;
  }
  
  .github:hover {
    transform: rotate(360deg) scale(1.2);
  }