/* Reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    user-select: none;
}

/* General styles */

body {
  background: linear-gradient(0deg, rgb(22 38 125),rgb(47, 73, 226));
}
button {
  font-size: inherit;
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  margin: 20px auto 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 25px);
}

/* .tile {
  height: 25px;;
  font-size: 16px;
} */

.header {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 20px;
  
}

.board__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  gap: 4px;
  margin: 0 auto 15px auto;
  width: 260px;
  border: 5px solid white;
  border-radius: 5px;

}

.board__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.header__bombs-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: bisque;
  font-size: 20px;
  width: 50px;
  height: 35px;
  border-radius: 5px;
}


.header__smile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: bisque;
  font-size: 20px;
  width: 50px;
  height: 35px;
  border-radius: 5px;
}

.header__timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: bisque;
  font-size: 20px;
  width: 50px;
  height: 35px;
  border-radius: 5px;
}

.header__flags-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: bisque;
  font-size: 20px;
  width: 50px;
  height: 35px;
  border-radius: 5px;
}

.board {
  /* border: 2px solid rgb(143, 30, 30); */
}

.mode-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}


.board__easy--mode,
.board__medium--mode,
.board__hard--mode,
.board__new-game {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

}


.board__tile {
  width: 25px;
  height: 25px;;
  font-size: 16px;
  border: 2px solid black
}
.board__tile:hover {
  background-color: rgb(74, 49, 242);
}


.game-result {
  text-align: center;
  color: beige;
  font-size: 36px;
}