/* || Reset */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
/* || Variables */

:root {
    --BG-LIGHT: #F6F6F6;
    --TEXT-COLOR: #CDCDCD;
    --TITLE-COLOR: #FFFFFF;
    --TITLE-DARK-COLOR: #545454;
    --BTN-COLOR: #F1CDB3;
    --BTN-TXT-COLOR: #292929;
    --BTN-FONT-SIZE: 17px;
    --BTN-HOVER-COLOR: #FDDCC4;
}

/* Fonts */

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-Black.woff2') format('woff2'),
        url('../../assets/fonts/Arial-Black.woff') format('woff'),
        url('../../assets/fonts/Arial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../../assets/fonts/Arial-BoldMT.woff') format('woff'),
        url('../../assets/fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-BoldItalicMT.woff2') format('woff2'),
        url('../../assets/fonts/Arial-BoldItalicMT.woff') format('woff'),
        url('../../assets/fonts/Arial-BoldItalicMT.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
        url('../../assets/fonts/Arial-ItalicMT.woff') format('woff'),
        url('../../assets/fonts/Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../../assets/fonts/ArialNarrow-Italic.woff2') format('woff2'),
        url('../../assets/fonts/ArialNarrow-Italic.woff') format('woff'),
        url('../../assets/fonts/ArialNarrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/ArialMT.woff2') format('woff2'),
        url('../../assets/fonts/ArialMT.woff') format('woff'),
        url('../../assets/fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../../assets/fonts/ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/ArialNarrow-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/ArialNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../../assets/fonts/ArialNarrow.woff2') format('woff2'),
        url('../../assets/fonts/ArialNarrow.woff') format('woff'),
        url('../../assets/fonts/ArialNarrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../../assets/fonts/ArialNarrow-Bold.woff2') format('woff2'),
        url('../../assets/fonts/ArialNarrow-Bold.woff') format('woff'),
        url('../../assets/fonts/ArialNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Georgia-Bold.woff') format('woff'),
        url('../../assets/fonts/Georgia-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia.woff2') format('woff2'),
        url('../../assets/fonts/Georgia.woff') format('woff'),
        url('../../assets/fonts/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Georgia-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/Georgia-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia-Italic.woff2') format('woff2'),
        url('../../assets/fonts/Georgia-Italic.woff') format('woff'),
        url('../../assets/fonts/Georgia-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* || General Styles */

html {
    scroll-behavior: smooth;
}
body {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 160%;
}
body.noscroll {
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
ul,
li {
    list-style-type: none;
}
img {
    width: 100%;
    vertical-align: bottom;
}
button {
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    transition: all 0.4s;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
.container { 
    max-width: 1280px;
    margin: 0 auto; 
    padding: 0px 40px 0 40px; 
}

/* || Header */

.header {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
}
.header__flex {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    cursor: pointer;
    transition: opacity 0.6s;
}
.header__logo:hover {
    opacity: 0.7;
}
.header__logo-title {
    display: flex;
    align-items: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--BTN-COLOR);
    margin-bottom: 10px;
}
.header__logo-title:active,
.header__logo-title:focus {
    outline: none;
}
.header__logo-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--TITLE-COLOR);
}
.nav__list {
    display: flex;
    flex-flow: row nowrap;
    gap: 36px;
    font-family: 'Arial', sans-serif;
    color: var(--TEXT-COLOR);
}
.nav__list-link {
    transition: color 0.6s;
}
.selected {
    color: #FAFAFA;
    border-bottom: 3px solid var(--BTN-COLOR);
}
.nav__list-link:not(.selected):hover {
    color: #FAFAFA;
}
.nav__list-link:active , 
.nav__list-link:focus {
    padding-bottom: 4px;
    color: #FAFAFA;
    border-bottom: 3px solid var(--BTN-COLOR);
    outline: none;
}

.nav__list-item.selected .nav__list-link {
    cursor: default;
}
.menu__burger-overlay {
    transition: all 1s;
}

/* || Not Only */

.notonly {
    padding-top: 150px;
    margin-bottom: 80px;
    align-self: center;
    background: 
        url(../../assets/images/noisy-lines.png),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
        #211F20;
}
.notonly__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.notonly__content {
    flex: 0 1 39%;
    margin-top: 195px;
    margin-bottom: 100px;
}
.notonly__content-heading {
    max-width: 350px;
    margin-bottom: 41px;
    font-family: 'Georgia', serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 130%;
    color: var(--TITLE-COLOR);
}
.notonly__content-text {
    margin-bottom: 55px;
    font-family: 'Arial', sans-serif;
    color: var(--TEXT-COLOR);
}
.notonly__content-button {
    padding: 15px 45px;
    font-family: 'Georgia', serif;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--BTN-TXT-COLOR);
    background: var(--BTN-COLOR);
    border-radius: 100px;
    transition: background-color 0.6s;
}
.notonly__puppy {
    flex: 0 1 58%;
    padding-top: 30px;
    align-self: flex-end;
}
.notonly__content-button:hover, 
.notonly__content-button:active,
.notonly__content-button:focus {
    background-color: var(--BTN-HOVER-COLOR);
}
.notonly__content-button:active,
.notonly__content-button:focus {
    outline: 1px solid var(--BTN-COLOR);
}

/* About the Shelter */

.about__flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 9.3vw;
    margin-bottom: 100px;
}
.about__pets {
    flex: 0 1 25.1%;
}
.about__content {
    flex: 0 1 36%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.about__content-title {
    font-family: 'Georgia', serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
}
.about__content-text {
    font-family: 'Arial', sans-serif;
    color: #4C4C4C;
}
.about__content-title,
.about__content-text {
    margin-bottom: 25px;
}
.about__content-text:last-child {
    margin-bottom: 0;
}
.wrap {
    display: block;
    word-wrap: break-word;
}

/* || Our Friens */

.friends {
    padding: 80px 0 100px 0;
    background: var(--BG-LIGHT);
}
.friends__title {
    margin: 0 auto;
    grid-column-start: 2;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
}
.friends__grid {
    /* display: grid;
    grid-template-columns: auto 82.5% auto;
    grid-template-rows: auto 95.7% auto;
    margin-bottom: 118px; */
    display: grid;
    grid-template-columns: auto 82.5% auto;
    grid-template-rows: auto 86.7% auto;
    margin-bottom: 59px;
}
.friends__slider-wrapper {
    padding-top: 59px;
    /* display: flex; */
    /* flex-flow: row wrap; */
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;

    overflow: hidden;
    max-width: 990px;
}
.friends__slider {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    /* grid-column: 2 / 3; */


    gap: 90px;
}
.friends__carousel {
    display: flex;

    position: relative;
    left: -1080px;
    gap: 90px;
}

@keyframes move-right {
  from {left: -1080px;}
  to {left: -2160px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;
}

@keyframes move-left {
  from {left: -1080px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}

.hidden {
  display: none;
}



.hide__slider {
    visibility: hidden;;
}

.item__image[alt~='Sophia'] {
    height: 270px;
    object-fit: cover;
}


.slider__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* flex: 0 0 270px; */

    width: 270px;




    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.6s;
}
.slider__item:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: var(--TITLE-COLOR);
}

.item__image {
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
.slider__item-name {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
}
.learn-more__button {
    padding: 14px 44px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--BTN-TXT-COLOR);
    border: 2px solid var(--BTN-COLOR);
    border-radius: 100px;
    transition: all 0.6s;
}
.slider__item:hover .learn-more__button,
.learn-more__button:active,
.learn-more__button:focus {
    border: 2px solid var(--BTN-HOVER-COLOR);
    background-color: var(--BTN-HOVER-COLOR);
    outline: none;
}


.rest-wrapper-btn {
    width: 100%;
    justify-self: center;
    align-self: center;
    grid-column: 2 / 3;
    order: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rest-button {
    text-align: center;
    display: inline-block;
    padding: 15px 45px;
    color: var(--BTN-TXT-COLOR);
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    background: var(--BTN-COLOR);
    border-radius: 100px;
    transition: background-color 0.6s;
}
.rest-button:hover,
.rest-button:active,
.rest-button:focus {
    background-color: var(--BTN-HOVER-COLOR);
}
.rest-button:active,
.rest-button:focus {
    outline: 1px solid var(--BTN-COLOR);
}
.prev-slide {
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
}   
.next-slide {
    grid-column: 3 / 4;
    justify-self: end;
    align-self: center;
    rotate: 180deg;
}
.prev-slide,
.next-slide {
    width: 52px;
    height: 52px;
    display: flex;
    align-content: center;
    padding: 21px 17px;
    border: 2px solid var(--BTN-COLOR);
    border-radius: 50%;
    transition: all 0.6s;
}
.prev-slide:hover,
.prev-slide:active,
.prev-slide:focus,
.next-slide:hover,
.next-slide:active,
.next-slide:focus {
    border: 2px solid var(--BTN-HOVER-COLOR);
    background-color: var(--BTN-HOVER-COLOR);
    outline: none;
}


/* || Help section */

.help {
    padding-top: 80px;
    margin-bottom: 100px;
}
.help__title {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
}
.help__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    row-gap: 55px;
    column-gap: 120px;
}
.help__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
    transition: all 0.6s;
}
.help__item:hover {
    opacity: 0.6;
}
.help__item-icon {
    width: 60px;
    transition: all 0.6s;
}
.help__item:hover .help__item-icon {
    transform: scale(1.2);
}
.help__item-text {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
}


/* || Donation section */

.addition {
    padding: 80px 0 100px 0;
    background: var(--BG-LIGHT);
}
.addition__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
}
.donation__dog {
    flex: 0 1 505px;
}
.donation__content {
    flex: 0 1 380px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}
.donation__content-heading {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
}
.donation__content-bank {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
    background-color: transparent;
}
.donation__content-card {
    max-width: 349px;
    padding: 10px 10px 10px 60px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--TITLE-DARK-COLOR);
    background: url(../../assets/icons/credit-card.svg) no-repeat 15px 50%, var(--BTN-COLOR);
    border-radius: 9px;
    transition: background-color 0.6s;
}
.donation__content-card:hover,
.donation__content-card:active,
.donation__content-card:focus {
    background-color: var(--BTN-HOVER-COLOR);
}
.donation__content-card:active,
.donation__content-card:focus {
    outline: 1px solid var(--BTN-COLOR);
}
.donation__content-text {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #B2B2B2;
}

/* || Footer */
.footer {
    padding-top: 38px;
    background: 
        url(../../assets/images/noisy-lines.png),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
        #211F20;
}
.footer_content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.footer__contacts {
    flex: 0 0 279px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 44px;
    align-self: flex-start;
    padding-top: 16px;
}
.footer__title {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--TITLE-COLOR);
}
.footer__locations .footer__title {
    margin-bottom: 36px;
}
.footer__boston {
    margin-bottom: 32px;
}
.footer__locations {
    flex: 0 0 302px;
    align-self: flex-start;
    padding-top: 16px;
}
.footer__puppy {
    flex: 0 0 300px;
}
.tele,
.mail,
.footer__boston,
.footer__london {
    display: flex;
    position: relative;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--BTN-COLOR);
    transition: color 0.6s;
}
.mail {
    margin-bottom: 5px;
}
.tele,
.mail {
    padding-left: 60px;
}
.footer__boston,
.footer__london {
    padding-left: 40px;
}
.tele:hover,
.mail:hover,
.footer__boston:hover,
.footer__london:hover {
    color: var(--TEXT-COLOR);
}
.tele:active,
.mail:active,
.footer__boston:active,
.footer__london:active,
.tele:focus,
.mail:focus,
.footer__boston:focus,
.footer__london:focus {
    color: var(--TEXT-COLOR);
    outline: 1px solid var(--BTN-COLOR);
    border-radius: 5px;
}

.tele::before {
    content: url(../../assets/icons/icon-phone.svg);
    position: absolute;
    top: -4px;
    left: 0;
}
.mail::before {
    content: url(../../assets/icons/icon-email.svg);
    position: absolute;
    top: -4px;
    left: 0;
}
.tele::before, 
.mail::before {
    margin-right: 19px;
}
.footer__boston::before,
.footer__london::before {
    content: url(../../assets/icons/icon-marker.svg);
    position: absolute;
    left: 0;
}
.footer__boston::before {
    top:  5px;
}
.footer__london::before {
    top:  -2px;
}




/* POPUP */


.popup__wrapper {
    
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.popup__wrapper-open {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
    
}
.popup__overlay {
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100vw;
   height: 100vh;
   /* opacity: ;
   visibility: ;
   transition: ; */
   background: rgba(41, 41, 41, 0.6);
}
.popup__window {
    width: 900px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: 9px;
}
.popup__window:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.popup__img {
    width: 500px;
    border-radius: 9px 0px 0px 9px;
}
.popup__img img {
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}
.popup__content {
    width: 351px;
    align-self: flex-start;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000000;
    padding: 50px 20px 29px 0;
}
.popup__title {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    margin-bottom: 10px;
}
.popup__subtitle {
    font-size: 20px;
    line-height: 115%;
    margin-bottom: 40px;
}
.popup__text {
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 40px;
}
/* .popup__list {
} */
.popup__item {
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 10px;
    position: relative;
    padding-left: 14px;
    
}
.popup__item::before {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    top: 7px;
    left: 0px;
    border-radius: 50%;
    background-color: #F1CDB3;
}
.popup__age,
.popup__inoculations,
.popup__diseases,
.popup__parasites {
    font-weight: 400;
}
.popup__close {
    position: absolute;
    width: 52px;
    height: 52px;
    top: -52px;
    right: -42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    /* border: none; */
    height: 52px;
    outline: none;
    cursor: pointer;
    border: 2px solid #F1CDB3;
    background-color: transparent;
    z-index: 50;
}




/* MEDIA */

@media (max-width: 1150px) {
    /* .slider__item:last-child {
        display: none;
    } */
    .friends__slider {
        justify-content: space-evenly;
        gap: 5vw;
    }
    .friends__grid {
        
        grid-template-columns: auto 82% auto;
        grid-template-rows: auto 86.5% auto;
    }
    .notonly__content {
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;
    }
}
@media (max-width: 1080px) {
    .footer_content {
        justify-content: space-evenly;
    }
}

@media (max-width: 995px) {
    .about__flex {
        flex-direction: row;
        flex-wrap: wrap-reverse;
        gap: 10.3vw;
    }
    .addition__flex {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        gap: 7.8vw;
    }
}

@media (max-width:860px) {
    .container { 
        padding: 0px 30px 0 30px; 
    }
    .menu__burger-overlay {
        display: none;
    }
    .notonly__flex {
        flex-flow: column;
    }
    .notonly__content {
        max-width: 65%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 14%;
    }
    .notonly__content-heading {
        align-self: flex-start;
    }
    .notonly__content-text {
        margin-bottom: 43px;
    }
    .notonly__puppy {
        padding-top: 0;
        max-width: 80.5%;
    }

    /* about  */
    .about__content-title {
        margin-bottom: 24px;
    }
    .about__flex {
        flex-direction: column-reverse;
    }
    .about__content {
        max-width: 61%;
    }
  
    /* Help */
    .help {
        padding-top: 79px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .help__title {
        margin-bottom: 58px;
    }
    .help__item {
        flex: 1 1 170px;
    }
    .help__list {
        column-gap: 3%;
    }
   
    /* Footer */
    .footer {
        padding-top: 4%;
    }
    .footer_content {
        justify-content: center;
        gap: 0;
        row-gap: 8.5vw;
        column-gap: 8vw;
    }
    .footer__contacts, 
    .footer__locations {
        padding-top: 0;
    }
    .footer__boston {
        margin-bottom: 37px;
    }
    .footer__locations .footer__title {
        margin-bottom: 32px;
    }
}

/* Tablet */
@media (max-width:767px) {
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 85%;
        height: 100%;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  var(--BTN-TXT-COLOR);;
        overflow: auto;
        transition: right 0.8s;
    }
    .nav.open {
        right: 0%;
    }
    .nav__list {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        flex-direction: column;
        gap: 40px;
        padding-top: 64px;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    .nav__list-link {
        font-size: 32px;
        line-height: 160%;
    }
    .nav__list-item {
        font-size: 23px;
    }
   

     /* header and burger */
   
    .menu__burger-overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        background-color: black;
        opacity: 0.3;
    }
    .menu__burger {
        width: 30px;
        height: 22px;
        cursor: pointer;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: stretch;
        z-index: 200;
        transition: all 0.8s;
    }
    .menu__burger.open {
        transform: rotate(90deg) ;
    }
    .menu__burger span {
        border: 1px solid var(--BTN-COLOR);
    }
}
@media (max-width: 600px) {
    .friends {
        padding: 13% 0 2% 0;
    }
    .friends__grid {
        display: flex;
        flex-flow: row wrap;
        column-gap: 80px;
        row-gap: 41px;
        align-items: center;
        justify-content: center;
        margin-bottom: 12%;
    }
    /* .friends__slider {
        width: 100%;
        margin-bottom: 20px;
    } */
    .friends__slider-wrapper {
        width: 100%;
        /* margin-bottom: 20px; */
        margin-bottom: 0px;
        padding-top: 0px;
    }
    /* .slider__item:nth-child(2) {
        display: none;
    } */
    .prev-slide {
        order: 3;
        margin-top: -8%;
        margin-bottom: 2px;
    }
    .next-slide {
        order: 4;
        margin-top: -8%;
        margin-bottom: 2px;
    }
    .rest-button {
        order: 5;
    }
    .about__flex {
        margin-bottom: 14%;
    }
}

@media (max-width:500px) {
    .container {
        padding: 0px 10px 0 10px;
    }

    .header .container {
        padding: 0px 20px 0 20px;
    }

    .notonly {
        margin-bottom: 42px;
    }
    .notonly__content-heading {
        letter-spacing: 0.06em;
        align-self: center;
        font-size: 25px;
        text-align: center;
    }
    .notonly__content {
        max-width: 100%;
        text-align: center;
        margin-bottom: 35%;
    }
    .notonly__puppy {
        max-width: 86.5%;
    }
    .help__item {
        flex: 1 1 130px;
    }
    .about__flex {
        gap: 12.3vw;
    }
    .about__content {
        max-width: 90%;
        justify-content: center;
        gap: 7.4vw;
        text-align: justify;
    }
    .about__content-title {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .about__content-text {
        margin-bottom: 0;
    }
    .about__pets {
        max-width: 87%;
    }
}
/* Mobile */

@media (max-width: 400px) {
    .friends__title {
        font-size: 25px;
    }
    .friends__slider {
        margin-bottom: 0;
    }
    .about__flex {
        margin-bottom: 14%;
    }
    .help {
        padding-top: 13%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 13%;
    }
    .help__list {
        justify-content: space-between;
        row-gap: 29px;
        column-gap: 9px;
    }
    .help__title {
        font-size: 25px;
        margin-bottom: 14%;
    }
    .help__item {
        flex: 0 1 130px;
        gap: 20.5px;
    }
    .help__item-icon {
       width: 50px;
    }
    .help__item-text {
        font-size: 15px;
    }
    .donation__content {
        gap: 23px;
        align-items: center;
        justify-content: center;
    }
    .donation__content-heading {
        font-size: 25px;
        text-align: center;
    }
    .addition {
        padding: 13.6% 0 13% 0;
    }
    .donation__content-bank {
        text-align: center;
        letter-spacing: normal;
    }
    .donation__content-card {
        font-size: 15px;
        line-height: 110%;
        padding: 14px 15px 13px 60px;
        margin-bottom: -3px;
    }
    .donation__content-text {
        padding: 0 10px 0 10px;
        text-align: justify;
    }
    .donation__dog {
        max-width: 260px;
        margin-top: 17px;
    }

    /* footer mobile */
    .footer {
        padding-top: 9.4%;
    }
    .footer__title {
        font-size: 25px;
        text-align: center;
    }
    .footer__contacts {
        align-items: center;
        justify-content: center;
    }
    .footer_content {
        row-gap: 13.5vw;

    }
    .footer__locations .footer__title {
        padding: 0 5px 0 5px;
        margin-bottom: 40px;
    }
    .footer__boston {
        margin-bottom: 43px;
    }
    .footer__boston,
    .footer__london {
        padding-left: 42px;
    }
    .footer__puppy {
        flex: 0 0 260px;
    }
}
@media (max-width: 320px) {
    .nav {
        width: 100%;
    }
}