.car-image {
  transform: scaleX(-1);
  width: 200px;
}

.flag-image {
  position: absolute;
  top: 50%;
  right: 190px;
  width: 66px;
  transform: translateY(-50%);
}

.car-block__track {
  position: relative;
  background-color: rgb(204, 211, 224);
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  text-align: center;
}

/* .header_title {
}
.garage-btn {
}
.winners-btn {
}

.garage-container__title {
}
.form-container {
}
.form-container__create-car {
}
.create-car__car-name-input {
}
.create-car__car-color-input {
}
.create-car__button {
}
.form-container__update-car {
}
.update-car__car-name-input {
}
.update-car__car-color-input {
}
.update-car__button {
}
.form-container__buttons {
}
.buttons {
}
.buttons__race {
}
.buttons__reset {
}
.buttons__generate {
}
.pagination-container {
}
.car-list {
}
.car-block__control-btns {
}
.select-car-button {
}
.remove-car-button {
}
.car-name {
}
.car-block__track {
}
.start-car-button {
}
.stop-car-button {
}
.car-image {
}
.flag-image {
} */