.car-image {
  transform: scaleX(-1);
  width: 200px;
}

.flag-image {
  position: absolute;
  top: 50%;
  right: 190px;
  width: 66px;
  transform: translateY(-50%);
}

.car-block__track {
  position: relative;
  background-color: rgb(204, 211, 224);
}
