/* Reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

/* General styles */
button {
  font-size: inherit;
  cursor: pointer;
}
body {
  background-color: #6c639b;

}
.wrapper {
  min-height: 100vh;
  margin: 20px auto 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


/* Header */
.header {
  width: 100%;
  text-align: center;
  /* position: fixed;
  top: 0;
  left: 0; */
}

/* Main */
.main {
  width: calc(100% - 20px);
  display: flex;
  flex-wrap: nowrap;

}


.left-block {
  width: 80%;
  background-color: #9990cb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.task {
  color: rgba(46, 24, 24, 0.5);
  font-size: 40px;
  text-align: center;
  padding: 10px 20px;
}

.help {
  display: block;
  text-align: center;
}

/* gameboard */
.gameboard-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  perspective: 450px;
  margin-bottom: 30px;
}

.gameboard {
  position: relative;
  height: 150px;
  max-width: 600px;
  width: 92%;
  transform: rotateX(30deg);
  transform-origin: bottom;
  z-index: 50;
  margin: 0 auto;
}

.gameboard__surface {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#53380d,#ca7f05);
  box-shadow: 0px 30px 20px rgba(22, 21, 21, 0.3);
}

.gameboard__tags {

}

.gameboard__table {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
}

.edge {
  max-width: 600px;
  width: 92%;
  height: 20px;
  margin: 0 auto 15px auto;
  background: #805715;
  transform: rotateX(-35deg);
  transform-origin: top;
}

.leg {
  width: 30px;
  height: 20px;
  background: #462e08;
  position: absolute;
  top: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 10px 10px rgba(22, 21, 21, 0.3);
}

.leg:first-child {
  right: 15px;
}

.leg:last-child {
  left: 15px;
}

/* input */
.editor-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  /* gap: 10px; */
  border: solid 5px rgba(44, 25, 83, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 50%;
  background: aliceblue;
  line-height: 1.5;
  font-size: 16px;
}

.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: rgba(30, 15, 66, 0.15);
}

.file-name {

}

.css-field {
  flex: 1 1 50%;
  display: flex;
}

.css-field .rows-count {
  color: #888;
  background: rgb(221, 221, 221);
  padding: 8px;
  
}

.input-css {
  width: 100%;
  text-align: left;
  font-size: inherit;
  outline: none;
}

.enter-btn, .reset-btn {
  background: #ca7f05;
  border-radius: 5px;
  border: 2px solid black;
  padding: 0 5px 0 5px;
  line-height: 1.5;
  
}
.styles-example {

}


.html-result {
  background: dimgray;
}

.html-field {
  flex: 1 1 50%;
  display: flex;
}

.html-field .rows-count {
  padding: 8px;
  background: #aaa;
  color: #fff;
}

.html-field__view {
  padding: 8px;
}
.input-field {
  line-height: 1.5;
  flex: 1 1 97%;
  padding: 8px;
}



.right-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #3e3d3c;
  width: 20%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.choose-level {
  color: #adb8c2;
  font-size: 17px;
  margin-bottom: 20px;
  text-align: center;
}

.levels {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
}

.level-name {
  color: #fff;
  cursor: pointer;
  position: relative;
}

.level-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #ffb80b;
  transition: width 0.4s;
}
.level-name:hover::after {
  width: 100%;
}

.reset-btn {
  background-color:rgb(231, 160, 7);
}

.footer {

}

plate {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 100px;
  position: relative;
  box-shadow: 0px 10px 13px 1px rgb(87, 84, 84);
  border-bottom: solid 6px #b3b2b2;
}

plate:before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 32.5px);
  top: calc(50% - 32.5px);
  height: 65px;
  width: 65px;
  border-radius: 60px;
  border-top: solid 6px #b3b2b2;
  opacity: 0.5;
} 

apple, orange {
  width: 50px;
  height: 50px;
  background: rgb(193, 13, 13);
  border-radius: 50px;
  position: absolute;
  z-index: 69;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 13px 1px rgb(87, 84, 84), inset -1px -3px 8px 0px rgb(87, 84, 84);
}

apple.selectMe {
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}
apple.small.selectMe {
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
}

orange {
  background: rgb(231, 160, 7);
}

.small {
  width: 25px;
  height: 25px;
}

.selectMe {
  animation: jump 1.2s infinite;
}


@keyframes jump {
  0% { transform: translateY(0) skewY(3deg); }
  20% { transform: translateY(-15px) skewY(1deg); }
  50% { transform: translateY(0) skewY(-5deg); }
  70% { transform: translateY(-15px) skewY(-1deg); }
  100% { transform: translateY(0) skewY(5deg); }
}

melon {
  width: 60px;
  height: 45px;
  background-color: #ffb80b;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 30px);
  box-shadow: 0px 10px 13px 1px rgb(87, 84, 84), inset -1px -3px 8px 0px rgb(87, 84, 84);
}

.current-level {
  color: rgb(255, 183, 0);
}

apple orange melon {
  top: calc(-9% - 22.5px);
}

apple orange {
  top: -16%
}


.levels {
  list-style-type: none;
}

@media (max-width: 600px) {
  .editor-wrapper {
    flex-direction: column;
  }
}
